<h2>Получение данных</h2>
<p><a asp-action="BackToIndex">Вернуться</a></p>
<form method="post">
    <p>
        <label>Номер</label><br />
        <input type="number" name="id" />
    </p>
    <p>
        <input type="submit" value="Получить" />
    </p>
</form> 