@model IEnumerable<FirstWebApplication.Models.DataModel>

<h2>Операции с данными</h2>
<p><a asp-action="Create">Добавить данные</a></p>
<p><a asp-action="Get">Получить данные</a></p>
<p><a asp-action="GetAll">Получить все данные</a></p>
